@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Come Enjoy St.Louis</h1>

    <p>This is a place to share your favorite locations and maybe your not so favorite locations. You can 
    give them a review and a rating and add them to catergories or add some 
    catergories that others havent thought of yet. Or You can just find and explore great places in St.Louis. Welcome!</p>
</div>
